{% extends '::base.html.twig' %}

{% block section %}
	<section>
		<ul>
		{% for e in disks %}
			<li>
				<p>{{e.title}}
					<i> Date de sortie: {{ e.dateSortie | date('Y')}}</i> -
					<a href="{{ path('disk_edit', {'id': e.id}) }}">Editer</a> -
					<a href="{{ path('disk_delete', {'id': e.id}) }}">Supprimer</a>
				</p>
			</li>
		{% endfor %}
		</ul>
	</section>
{% endblock %}