header{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  img{
    width: 15%;
  }
  h1{
    width: 35%;
    vertical-align: center;
    font-size: 2.5rem;
    @media screen and (min-width: 320px) {
      font-size: 1.5rem;
    }
  }
  nav{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 35%;
    height: 100vh;
    background-color: black;
    ul{
      li{
        list-style: none;
        border-bottom: 1px dotted white;
        a{
          display: block;
          text-decoration: none;
          color: white;
          padding: .4rem;
        }
      }
    }
    @media screen and (min-width: 768px){
      width: 35%;
      display: block;
      ul{
        display: flex;
        justify-content: space-between;
        li{
          list-style: none;
          a{
            text-decoration: none;
          }
        }
      }
    }
  }
  i.fa-bars{
    padding: 1rem;
    display: block;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

}