@import "header";
@import "news";
@import "form";
@import "footer";

*{
  margin:0;
  padding: 0;
}

html{
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
  body{
    position: relative;
    width:100%;
    main{
      @media screen and (min-width: 320px){
        padding-top: 10rem;
        padding-bottom: 10rem;
      }
      @media screen and (min-width: 768px){
        padding-top: 12rem;
        padding-bottom: 12rem;
      }
      @media screen and (min-width: 1200px){
        padding-top: 14rem;
        padding-bottom: 14rem;
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}