@media screen and (min-width: 320px) {
  header {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header img {
      width: 25%; }
    header h1 {
      width: 60%;
      text-align: center;
      font-size: 1.8rem; }
    header nav {
      position: absolute;
      right: -45%;
      top: 0;
      width: 45%;
      height: 100vh;
      background-color: #F48FB1;
      transition: right 1s ease; }
      header nav:target {
        right: 0; }
      header nav ul li {
        list-style: none;
        border-bottom: 2px dotted white; }
        header nav ul li a {
          font-size: 1.5rem;
          display: block;
          text-decoration: none;
          color: white;
          padding: .4rem;
          padding-left: 1rem; }
    header i.fa-bars {
      width: 15%;
      text-align: center;
      font-size: 1.5rem;
      cursor: pointer; } }
@media screen and (min-width: 768px) {
  header {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header img {
      width: 15%; }
    header h1 {
      width: 20%; }
    header nav {
      width: 60%;
      height: inherit;
      position: relative;
      display: block;
      right: 0;
      background-color: none; }
      header nav ul {
        display: flex;
        justify-content: space-around; }
        header nav ul li {
          border-bottom: none; }
          header nav ul li a {
            color: black;
            font-size: 1.2rem; }
    header i.fa-bars {
      display: none; } }
@media screen and (min-width: 1200px) {
  header {
    width: 80%;
    margin: 0 auto; } }
.articleNews h2 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem; }
.articleNews .contentNews {
  padding: 2rem;
  text-align: justify;
  line-height: 1rem;
  margin-bottom: 2rem; }
  .articleNews .contentNews img {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 8px solid black; }
.articleNews .video {
  display: block;
  margin: 0 auto;
  margin-top: 2rem; }
.articleNews small {
  font-size: 1rem; }

form.form fieldset {
  width: 50%;
  margin: 0 auto; }
  form.form fieldset.action {
    display: flex;
    justify-content: center;
    align-items: center; }

footer {
  display: flex;
  flex-direction: column; }
  footer li a {
    display: block;
    text-align: center; }

@media screen and (min-width: 500px) {
  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding-top: 1rem;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem; }
    footer li {
      list-style: none; }
      footer li a {
        color: white; } }
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif; }
  html body {
    position: relative;
    width: 100%; }
    @media screen and (min-width: 320px) {
      html body main {
        padding-top: 10rem;
        padding-bottom: 10rem; } }
    @media screen and (min-width: 768px) {
      html body main {
        padding-top: 12rem;
        padding-bottom: 12rem; } }
    @media screen and (min-width: 1200px) {
      html body main {
        padding-top: 14rem;
        padding-bottom: 14rem;
        width: 80%;
        margin: 0 auto; } }

/*# sourceMappingURL=styles.css.map */
