{% extends "WardLeonardNewsBundle::backlayout.html.twig" %}

{% block backbody %}

    {% for value in news %}
        {{ value.title }} <a href="{{ path('back_news_modify', {'id': value.id})}}"> Modifier </a>
        <a href="{{ path('back_news_delete',{'id': value.id}) }}"> Supprimer </a>
    {% endfor %}
    
{% endblock %}
