<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# On charge le bootstrap #}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600,700,900" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('News/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('News/styles.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

            {% block header %}
                <header>
                    <img src="{{ asset('News/images/logo.png') }}" alt="logo-site" class="logo"><h1>Ward Leonard</h1>
                    <nav id="nav">
                        <ul>
                            <li><a href="">Actualité</a></li>
                            <li><a href="">Le groupe</a></li>
                            <li><a href="">Discographie</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </nav>
                    <a href="#nav"><i class="fa fa-bars" aria-hidden="true"></i></a>
                </header>
            {% endblock %}

            <main class="main">
            {% block section %}{% endblock %}
            </main>
           
            {% block footer %}
                <footer>
                    <ul>
                        <li><a href="">Plan du site</a></li>
                        <li><a href="">Mentions légales</a></li>
                        <li><a href="">Liens sociaux</a></li>
                    </ul>
                </footer>
            {% endblock %}

        {% endblock %}
        {% block javascripts %}
            {# Fonctionnalités du bootstrap #}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>

