form.form.login {
  width: 50%;
  margin: 200px auto 0 auto;

  fieldset {
    padding: 5px;
    box-shadow: 4px 4px 4px gray;
    margin: 4px auto;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;

    div {
      margin: 4px;

      &.error {
        text-align: center;
        background-color: #ff8989;
        color: #620000;
      }

      label {
        display: inline-block;
        width: 100px;
      }

      input {
        border: 1px solid gray;
        border-radius: 5px;
      }
    }
  }
}