<!DOCTYPE html>
<html>
    <head>
        <title>Ward Leonard - Connexion</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('News/styles.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600,700,900" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
